body {
    font-size: 24px;
}

nav {
    padding: 20px;
}

nav a {
    padding: 20px;
    margin-right: 10px;
}

nav a:hover
{
    padding: 20px 20px 18px 20px;
    border-bottom: 2px solid black;
}

.horizontal-row {
    border-bottom: 4px solid black;
    margin-top: 30px;
}

#wrapper {
    margin: 20px;
}

#content {
    border-bottom: 4px solid black;
}

#content h1 {
    border-bottom: 4px solid black;
    padding-bottom: 30px;
}

#content table {
    border: 4px solid black;
    margin-bottom: 40px;
}

#image-map img {
    border: 6px solid blue;
}
