/* reset all the default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/*

colors used:

white: #FFFFFF
grey: #999999
red: #FF0000
black: #000000

*/

body {
    font-family: sans-serif;
    font-size: 14px;
}

#navigation,
#content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#header-wrapper {
    background-color: #FFFFFF;
    border-bottom: 5px solid #999999;
}

#header {
    text-align:center;
}

#header #logo {
    border: 0;
}

#navigation-wrapper {
    background-color: #FF0000;
}

#navigation {
    padding-top: 10px;
    padding-bottom: 10px;
}

#navigation li {
    list-style: none;
}

#navigation a {
    color: #FFF;
    display: block;
    float: left;
    padding: 10px;
    text-decoration: none;
    margin-right: 5px;
}

#navigation a.current,
#navigation a:hover {
    padding: 10px 10px 9px 10px;
    border-bottom: 1px solid #FFF;
}

#navigation .pull-right {
    float: right;
}

#navigation #styling a {
    color: #000000;
    margin-right: 10px;
    padding: 10px 0 10px 0;
}

#navigation #styling a.large {
    font-size: 20px;
    padding-top: 4px;
}

#navigation #styling a.large:hover {
    font-size: 20px;
    padding-top: 4px;
}

#navigation #styling a:hover {
    padding: 10px 0 9px 0;
}

#content {
    margin-top: 20px;
}

#content p {
    line-height: 1.6em;
    margin-bottom: 10px;
    color: #000000;
}

#content p img {
    border: 5px solid #999999;
    margin-left: 10px;
    margin-bottom: 30px;
}

#content .row img {
    margin: 10px;
    border: 5px solid white;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

#content-row {
    margin-left: 10px;
    margin-right: 10px;
}

#content .img-left {
    float: left;
}

#content .img-right {
    float: right;
}

#content h1 {
    text-align: left;
    display: block;
    padding-bottom: 15px;
}

#content h1, h4 {
    color: #FF0000;
}

#content dl {
    margin-top: 10px;
    clear: both;
}

#content dl dt {
    font-weight: bold;
    width: 150px;
    clear: left;
    float: left;
    vertical-align: top;
}

#content dl dd {
    float: left;
    width: 400px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#content table {
    margin-bottom: 30px;
    margin-top: 10px;
}

#content table th {
    background-color: #000;
    color: #FFF;
    border: 1px solid #FFF;
    padding: 5px;
}

#content table td {
    padding: 10px;
}

#content .form-field {
    display: block;
    margin-bottom: 20px;
}

#content .form-group {
    margin-bottom: 20px;

}

#content .form-group .form-field {
    margin-bottom: 5px;
}

#content .form-field label {
    font-weight: bold;
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

#content form textarea {
    width: 400px;
    height: 200px;
}

#content .form-field input {
    display: inline-block;
}


a {
    color: #FF0000;
}

a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}

.horizontal-row {
    border-bottom: 1px solid #AB2B52;
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#content ul {
    margin-left: 20px;
}

#footer {
    border-top: 1px solid #FF0000;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

#footer p {
    color: #999999;
}
