/* reset all the default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    color: #9F1C38;
    background: #ffecb8 url('../images/cute-cake-design_transparant.png') repeat;
}

p {
    line-height: 1.6em;
    margin-bottom: 10px;
}

nav {
    padding: 10px;
}

nav li {
    list-style: none;
}

nav a {
    color: #FFF;
    display: block;
    float: left;
    padding: 10px;
    text-decoration: none;
    margin-right: 5px;
}

nav #logo {
    padding-top: 6px;
    padding-right: 15px;
    padding-bottom: 1px;
}

nav #logo img {
    width: 180px;
    padding: 0;
}

nav #logo:hover {
    border: 0;
    padding-bottom: 0;
}

nav a:hover {
    padding: 10px 10px 9px 10px;
    border-bottom: 1px solid #FFF;
}

nav .pull-right {
    float: right;
}

nav #styling a {
    margin-right: 10px;
    padding: 10px 0 10px 0;
}

nav #styling a.large {
    font-size: 20px;
    padding-top: 4px;
}

nav #styling a.large:hover {
    font-size: 20px;
    padding-top: 4px;
}

nav #styling a:hover {
    padding: 10px 0 9px 0;
}

a {
    color: #AB2B52;
}

a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}

.horizontal-row {
    border-bottom: 1px solid #AB2B52;
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#navigation-wrapper {
    background-color: #E40045;
}

#navigation,
#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    margin-top: 20px;
}

#content .row img {
    margin: 10px;
    border: 5px solid white;
}

#content .img-left {
    float: left;
}

#content .img-right {
    float: right;
}

#content h1 {
    text-align: center;
    display: block;
    padding-bottom: 15px;
}

#content h1, h4 {
    color: #94002D;
}

#content table {
    border: 1px solid black;
    margin-bottom: 20px;
}

#content ul {
    margin-left: 20px;
}

#footer {
    border-top: 1px solid #E40045;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

#footer p {
    color: #505050;
}

#image-map img {
    border: 3px solid #AB2B52;
}
